<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/code.js"></script>
    <title>Entrega multimedia</title>
</head>

<body>
    <h1>Practica 1</h1>
    <hr>
    <h2>Ejercicio 1</h2>
    <video width="300" height="300" controls>
        <source src="../video/oveja-57647.mp4" type="video/mp4">
    </video>
    <hr>

    <h2>Ejercicio 2</h2>

    <video controls poster="../img/tree-g3889d6d8f_1280.jpg">
        <source src="../video/oveja-57647.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <hr>

    <h2>Ejercicio 3</h2>

    <video width="300" height="300" controls>
        <source src="https://commons.wikimedia.org/wiki/File:Big_Buck_Bunny_first_23_seconds_1080p.ogv"
            type="video/mp4">
        <source src="../video/oveja-57647.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <br>
    <hr>

    <h2>Ejercicio 4</h2>

    <video id="videoOrigin" width="300" height="300" controls>
        <source src="../video/oveja-57647.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video> <br>
    <span id="contador"></span>
    <br>
    <hr>

    <h2>Ejercicio 5</h2>

    <video id="videoFinal" width="300" height="300">
        <source src="../video/oveja-57647.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video> <br>
    <button id="play">Play</button>
    <button id="pause">Pause</button>
    <br>
    <hr>

</body>

</html>