canvas {
    border: 5px solid #000;
}

nav {
    display: flex;
    background-color: rgb(83, 83, 83);
    justify-content: start;
    align-items: center;
    padding: 2rem;
}

nav a {
    text-decoration: none;
    color: white;
}