* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: url(https://images.unsplash.com/photo-1661181715626-9bbf60cc7bce?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjE4MTgyNTY&ixlib=rb-1.2.1&q=80);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 15px auto 0;
    position: relative;
  }
  
  svg {
    width: 50px;
    fill: white;
  }
  
  nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
    
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
  }
  
  .get-started {
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, rgba(180,96,83,1) 6%, rgba(215,52,5,1) 73%);
    padding: 10px 25px;
    border-radius: 25px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 100%;
  }
  
  h3 {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.25rem;
  }
  
  h1 {
    font-size: 2.5rem;
    letter-spacing: 4px;
    margin: 10px 0 15px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 25px;
  }
  
  .button {
    display: flex;
    gap: 50px;
    background: linear-gradient(90deg, rgba(180,96,83,1) 6%, rgba(215,52,5,1) 73%);
    padding: 15px 25px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
  }

  ul{
    position: fixed;
    list-style-type: none;
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 0;
    border-radius: 100%;
    overflow: hidden;
    top: -29%;
    right: -15.5%;
    border: 3px solid white;
    opacity: 0%;
    transition: 1s;
    z-index: 1;
}

ul li {
    position: absolute;
    width: 200px;
    height: 200px;
    /*background-color: rgb(90, 97, 92);*/
    transform-origin: bottom right;
    border: 1px solid white;
}

ul li a{
    transform: rotate(-34deg);
    position: absolute;
    top: 165px;
    left: 138px;
    color: white;
}


ul li:nth-child(1){
    transform:rotate(-90deg) skew(67.5deg);
    }
    
    ul li:nth-child(2){
    transform:rotate(-67.5deg) skew(67.5deg);
    }
    ul li:nth-child(3){
        transform:rotate(-45deg) skew(67.5deg);
    }
    ul li:nth-child(4){
        transform:rotate(-22.5deg) skew(67.5deg);
    }
    
    .index{
        position: fixed;
        top:10px;
        right: 110px;
        color: white;
        opacity: 0%;
        transition: 1s;
        z-index: 2;
    }
    
    .autor{
        position: fixed;
        top:50px;
        right: 90px;
        color: white;
        opacity: 0%;
        transition: 1s;
        z-index: 2;
    }
    
    .imagenes{
        position: fixed;
        top:85px;
        right: 55px;
        color: white;
        opacity: 0%;
        transition: 1s;
        z-index: 2;
    }
    
    .contacto{
        position: fixed;
        top:110px;
        right: 15px;
        color: white;
        opacity: 0%;
        transition: 1s;
        z-index: 2;
    }
    
    .transition{
        position: fixed;
        width: 100px;
        height: 100px;
        top: -50px;
        right: -50px;
        border-radius: 100%;
        background-color: white;
        border: 2px solid black;
        transition: 1s;
        z-index: 2;
    }
    
    .transition:hover ul {
        opacity: 100%;
        width: 400px;
        height: 400px;
    }
    .transition:hover .autor {
        opacity: 100%;
    }
    
    .transition:hover .contacto {
        opacity: 100%;
    }
    
    .transition:hover .imagenes {
        opacity: 100%;
    }
    
    .transition:hover .index {
        opacity: 100%;
    }
    
    .transition:hover{
        opacity: 100%;
    }
    
    li:hover{
        background-color: rgb(46, 38, 80);
        cursor: pointer;
        opacity: 70%;
    }